In [12]:
import pandas as pd
df = pd.read_csv("s3://hwanawsbucket1/test_forecast/test_forecast_export_2022-04-20T07-07-45Z_part0.csv")

In [8]:
df

Empty DataFrame
Columns: [item_id, date, p10, p50, p90]
Index: []

In [16]:
import pandas as pd
df_res = pd.read_csv("s3://hwanawsbucket1/test_forecast/test_forecast_export_2022-04-20T07-07-45Z_part1.csv")

for i in range(2,35):
    df = pd.read_csv("s3://hwanawsbucket1/test_forecast/test_forecast_export_2022-04-20T07-07-45Z_part{name}.csv".format(name=i))
    df_res= pd.concat([df_res,df],axis=0)

In [25]:
df_res

   item_id                  date         p10         p50         p90
0       전세  2022-04-01T00:00:00Z  103.820668  103.894997  103.969184
1       전세  2022-05-01T00:00:00Z  103.944629  104.057901  104.187305
2       전세  2022-06-01T00:00:00Z  104.082966  104.203853  104.314841
3       전세  2022-07-01T00:00:00Z  104.213982  104.343697  104.469216
4       전세  2022-08-01T00:00:00Z  104.299898  104.499884  104.679278
..     ...                   ...         ...         ...         ...
7      참기름  2022-11-01T00:00:00Z  107.250137  110.330643  113.536789
8      참기름  2022-12-01T00:00:00Z  107.882866  112.027679  115.863892
9      참기름  2023-01-01T00:00:00Z  107.667534  111.256149  115.050995
10     참기름  2023-02-01T00:00:00Z  107.649544  111.547516  115.414970
11     참기름  2023-03-01T00:00:00Z  104.785759  108.750076  112.968750

[468 rows x 5 columns]

In [27]:
df_res.to_csv("s3://hwanawsbucket1/test_forecast/sobi_predict.csv")